body{
    
  margin: 0;
}

.all{
    display: flex;
    flex-direction: row;
}

.nav{
    background-color: red;
    width: 18%;
    height: 633px;
    display: flex;
}

.nav img{
    display: flex;
    width: 90px;
    height: 130px;
    margin-left: 70px;
    margin-top: 10px;
}

.page{
    background-color: blue;
   width: 82%;
    height: 633px;
    display: flex;
}