body{
    width: 100%;
    height: 100%;
  margin: 0;
}

.all{
    display: flex;
    flex-direction: row;;
}

.nav{
    background-color: rgb(139, 122, 122);
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.hello button{
    margin-top: 260px;
    
    background-color: brown;
    color: rgb(246, 249, 252);
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 40px;
}

.nav h3{
    font-size: 35px;
    margin-left: 10px;
}

.nav img{
    display: flex;
    width: 90px;
    height: 130px;
    
    margin-top: 10px;
}


.informacao{
    background-color: blue;
    width: 600px;
    height: 200px;
    margin: 50px;
    border-radius: 15px;
    border-color: black;
    border: 3px solid;
    display: flex;
    flex-direction: row;
}

.info1{
background-color: rgb(166, 155, 177);
width: 50%;
height: 100%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-right-color:black ;
border-right: 2px solid;
}


.info2{
background-color: rgb(201, 198, 204);
 width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-left-color:black ;
border-left: 2px solid;
}
 
.info1 span, .info2 span {
    font-size: 40px;
    margin-top: 10px; 
    margin-left: 20px;
}


.carousel {
     width: 60vh;
    height: 34vh;
     margin-left: 12vh;
    margin-top: 8vh;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
    
  .carousel-slide {
    display: flex;
    width: 100%;
  }

  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .set {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    
  }
  
  .carousel-buttons {
    position: absolute;
    
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.nextBtn{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    right: 0;
    
}

#prevBtn img,
#nextBtn img{
    background-color: white;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}

.space{
    background-color: rgb(214, 214, 221);
}

.space span{
    margin-left: 20px;
    font-size: larger; /* Ajustando o tamanho da fonte */
    font-weight: bold;
}

.intro_quiz{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.quiz_direction{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz_direction img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.button_quiz{
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
    background-color: rgb(214, 214, 221);
    border: 0;
}

.pages{
    display: flex;
    flex-direction: column;
}

.page1{
    background-color: rgb(214, 214, 221);
   width: 190vh;
    height: 50%;
    display: flex;
}

.page2{
    width: 190vh;
    height: 50%;
    background-color: rgb(214, 214, 221);
    display: flex;
    flex-direction:row ;
}

canvas{
    z-index: 10;
}

.linha .barra {
    position: relative;
    height: 10vw;
    width: 24vw;
}

.titleChart{
    font-size: larger;
    font-weight: 700;
}   

.intro_quiz select{
    width: 100px;
    height: 20px;
}

.intro_quiz button{
    background-color: brown;
    border-radius: 20px;
    border: 2px solid;
    border-color: black ;
    color: white;
    height: 25px;
}