body {
    margin: 0;
}

/* NAV BAR */

.nav {
    background-color: azure;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
   
}

ul {
    display: flex;
}

nav ul li {
    font-size: 18px;
    display: flex;
    padding-inline: 50px;

}

.nav-link {
    flex-direction: row;
    color: black;
    text-decoration: none;

}

.botao_cadastro {
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    border-radius: 25px;
    width: 125px;
    height: 50px;
    background-color: rgb(27, 27, 27);
    border: 0px;
}

.nome-botao{
    color: bisque;
}

.img_logo {
    margin-left: 50px;
    width: 70px;
    height: 100px;
}

/* NAV BAR */

/* HOME */
.home {
    background-color: rgb(185, 185, 185);
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
}

.home-direita {
    width: 50%;

}

.home-direita h1 {
    text-align: center;
}

.home-direita h3 {
    text-align: center;
}

.home-esquerda {
    width: 50%;
    display: flex;
    
}

.imghome {
    width: 90%;
    height: 100%;
   margin-left: 50px;

}

.texto-home {
    margin-top: 60px;
}

/* HOME */

/* SOBRE */

.sobre {
    display: flex;
    background-color: rgb(92, 92, 92);
    width: 100%;
    height: 300px;
    color: aliceblue;

}

.sobre-esquerda {
    width: 70%;
    display: flex;
}

.img-sobre {
    margin-left: 100px;

}

.sobre-direita {
    width: 50%;
    margin-top: 20px;
}

.titulo-sobre {
    background-color: rgb(92, 92, 92);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    font-family: monospace;
    font-size: 20px;
    color: aliceblue;
}

.sobre-direita h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;

}